/* You can add global styles to this file, and also import other style files */
body{
    background: url(./assets/images/library.jpg);
}
.panel{
    margin-top:90px;
}
.panel-heading{
    font-size:x-large;
}